body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Loading spinner */
#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loadingSpinner .spinner {
    width: 120px;
    height: 120px;
    background-image: url('SDG_Wheel_WEB.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadingSpinner .progress {
    margin-top: 20px;
    width: 100px;
    text-align: center;
}

/* Hide the main content initially */
body.loading #viewDiv,
body.loading .navbar {
    display: none;
}

/* Show loading spinner initially */
body.loading #loadingSpinner {
    display: flex;
}


.navbar {
    display: flex;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: space-around;
}

.navbar a {
    flex: 1;
    display: flex; /* 使用flexbox對齊icon和文本 */
    align-items: center; /* 垂直居中對齊 */
    justify-content: center; /* 水平居中對齊 */
    color: #474747;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.navbar a img {
    margin-right: 8px;
    width: 20px; /* 調整icon寬度 */
    height: 20px; /* 調整icon高度 */
    vertical-align: middle; /* 垂直對齊 */
}

.navbar a span {
    line-height: 20px; /* 確保文本垂直居中對齊 */
}

.navbar a:hover img {
    opacity: 0; /* hover時隱藏icon */
    width: 0; /* 將icon的寬度設置為0，確保文本對齊 */
    margin-right: 0; /* 取消icon的右邊距 */
}

.navbar a::after {
    content: attr(data-hover); /* 使用data-hover屬性的內容 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #f2f2f2;
    padding: 8px;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    font-size: 14px; /* 調整字體大小 */
    width: 100%; /* 確保文本寬度為100% */
}

.navbar a:hover::after {
    opacity: 1;
}

.navbar a:nth-child(1):hover {
    background-color: #f3b944;
    color: #f0f0f0;
}

.navbar a:nth-child(2):hover {
    background-color: #ce3482;
    color: #f0f0f0;
}

.navbar a:nth-child(3) {
    flex: 1.5; /* 擴展這個按鈕的寬度 */
}

.navbar a.large-font {
    font-size: 18px; /* 增加“永續發展指標之多維地理資訊系統”文字的字體大小 */
}

.vertical-text {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 垂直居中對齊 */
}

.vertical-text .small-text {
    font-size: 14px; /* “112學年度測量總實習”文字的原字體大小 */
}

.navbar a:nth-child(4):hover {
    background-color: #efa244;
    color: #f0f0f0;
}

.navbar a:nth-child(5):hover {
    background-color: #225285;
    color: #f0f0f0;
}
#viewDiv {
    height: 90vh;
}

@media (max-width: 430px) {
    .navbar a img {
        margin-right: 0;
        width: 20px;
        height: 20px;
    }

    .navbar a {
        padding: 5px;
    }

    .navbar a span {
        display: none; /* 隱藏文本 */
    }

    .navbar a::after {
        display: none; /* 隱藏hover時顯示的文本 */
    }

    .navbar a:nth-child(3) .vertical-text div:first-child {
        display: none; /* 隱藏第一行文字 */
    }

    .navbar a:nth-child(3) .vertical-text::after {
        content: "永續發展指標GIS平台";
        font-size: 18px;
        display: block;
    }

    .navbar a:nth-child(3) .small-text {
        display: none; /* 隱藏小字 */
    }
    #viewDiv {
        height: 86vh;
    }
}
